* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 html, body {
    overflow-x: hidden;
}
.hero {
    background: url(./images/desktop/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
  
    background-size: cover;
    height: 100vh;
   
}
.hero header {
    display: flex;
    justify-content:space-between ;
    align-items: center;
   padding-top: 20px;
}
.hero header img {
    width: 120px;
    margin-left: 40px;
}
.hero header nav ul {
    display: flex;
    list-style: none;
    
}
.hero header nav ul li {
    margin-top: 13px;
}
.hero header nav ul a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    margin-left: 0;
    margin-right: 60px;
}
.hero header nav ul li:nth-child(4) a {
    background-color: white;
    color:  hsl(212, 27%, 19%);
    padding: 10px 20px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 25px;
}
.hero header nav ul li:nth-child(4) a:hover {
    background-color: #8dd9ea;
}
.hero header nav ul li a:hover {
    color: black;
}
.header-text {
    text-align: center;
}
.header-text h2 {
    color: white;
    font-size: 50px;
    letter-spacing: 6px;
    margin-top: 90px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}
.header-text img {
    margin-top: 60px;
  
}
.mobile-menu {
    display: none;
}
.mobile-nav {
    display: none;
}

/*Feature section*/
.card1 {
   
    padding-left: 150px;
    padding-right: 110px;
 }
.card1-text h2 {
color: hsl(212, 27%, 19%);
font-size: 48px;
font-weight: 800;
line-height: 50px;
font-family: 'Barlow', serif;
}
.card1-text p {
   color:  hsl(232, 10%, 55%);
    font-size: 16px;
    margin-top: 30px;
  margin-bottom: 40px;
}
.learn1 {
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    color: hsl(213, 48%, 18%);
    position: relative;
}
.learn1:hover {
    color: hsl(213, 48%, 18%);
}
.learn1::before {
    content: "";
    position: absolute;
   transform: translateY(13px);
   width: 100%;
    height: 12px;
    color: hsl(213, 48%, 18%);
    background-color: hsla(51, 100%, 49%, 0.404);
    z-index: -1;
    border-radius: 25px;
    transition: .3s;
}
.learn1:hover::before {
    background:hsl(51, 100%, 49%) ;
   
}

.card4 {
   
    padding-left: 90px;
    padding-right: 110px;
 }
.card4-text h2 {
color: hsl(212, 27%, 19%);
line-height: 50px;
font-size: 48px;
font-weight: 800;
font-family: 'Barlow', serif;
}
.card4-text p {
   color:  hsl(232, 10%, 55%);
   padding-right: 50px;
    font-size: 16px;
    margin-top: 30px;
  margin-bottom: 40px;
}
.learn2 {
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    color: hsl(213, 48%, 18%);
    position: relative;
}
.learn2:hover {
    color: hsl(213, 48%, 18%);
}
.learn2::before {
    content: "";
    position: absolute;
   transform: translateY(13px);
   width: 100%;
    height: 12px;
    color: hsl(213, 48%, 18%);
    background-color:  hsla(7, 99%, 70%,.5);
    z-index: -1;
    border-radius: 25px;
    transition: .3s;
}
.learn2:hover::before {
    background: hsl(7, 99%, 70%) ;
   
}
.card-g {
    background: url(./images/desktop/image-graphic-design.jpg);
    height: 90vh;
    margin-top: -50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 .card-text {
position: relative;
top: 350px;

}
.g-text {
    color:  hsl(167, 40%, 24%);
    font-weight: 640;
}
.g-paragraph {
   text-align: center;
   font-size: 18px;
   color:  hsl(167, 40%, 24%);
  padding:20px 100px ;
  margin-bottom: 60px;
}
.card-p {
    background: url(./images/desktop/image-photography.jpg);
    height: 90vh;
    margin-top: -50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.p-text {
    color:   hsl(198, 62%, 26%);
    font-weight: 640;
}
.p-paragraph {
   text-align: center;
   color:   hsl(198, 62%, 26%);
   padding: 30px 160px;
}


/*Client testimonials*/
.client {
    color:hsl(210, 4%, 67%) ;
    font-size: 23px;
    letter-spacing: 3px;
    margin-top: 90px;
}
.card-img {
    border-radius: 50%;
    width: 80px;
    margin-top: 40px;
}
.card-texts {
   
    margin-top: 50px;
    color:hsl(212, 27%, 19%)  ;
}
.client-name {
    margin-top: 60px;
    color:  hsl(198, 79%, 17%);
   font-weight: 900;
   font-family: 'Fraunces', serif;
    font-size: 16px;
}
.client-position {
    font-size: 14px;
    color:hsl(210, 4%, 67%) ;
    margin-bottom: 30px;
}

/*footer*/
.hero-footer {
background-color: hsl(168, 41%, 69%) ;
}
.footer-text {
    color:  hsl(167, 64%, 27%);
    font-weight: 700;
    font-size: 25px;
text-align: center;
padding-top: 30px;
}
.text {
    text-decoration: none;
    list-style: none;
    display: flex;
    text-align: center;
    align-items: center;
  justify-content: center;
}
.text li {
    display: flex;
}
.text li a{
    text-decoration: none;
    color:  hsl(168, 58%, 26%);
    margin-left: 50px;
   font-size: 14px;
   margin-top: 15px;
 transform: translateX(-40px);
}
.icon {
    text-decoration: none;
    display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
}
.icon li  {
list-style: none;
margin-left: 30px;
}
.icon li a img {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 15px;
    transform: translateX(-20px);
}
.icon li a:hover img {
color: white;
}
.attribution {
    font-size: 18px;
   
}
.attribution a {
    text-decoration: none;
}


@media only screen and (min-width:992px) and (max-width:1024px)  {
    .hero {
        background: url(./images/desktop/image-header.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px;
        height: 100vh;
    }
    .hero header {
        display: flex;
        justify-content:space-between ;
        align-items: center;
       padding-top: 20px;
    }
    .hero header img {
        width: 95px;
        margin-left: 40px;
    }
    .hero header nav ul {
        display: flex;
        list-style: none;
        
    }
    .hero header nav ul li {
        margin-top: 13px;
    }
    .hero header nav ul a {
        text-decoration: none;
        font-size: 15px;
        color: white;
        margin-left: 0;
        margin-right: 60px;
    }
    .hero header nav ul li:nth-child(4) a {
        background-color: white;
        color:  hsl(212, 27%, 19%);
        padding: 10px 20px;
        font-weight: 700;
        font-size: 15px;
        border-radius: 25px;
    }
    .hero header nav ul li:nth-child(4) a:hover {
        background-color: #8dd9ea;
    }
    .hero header nav ul li a:hover {
        color: black;
    }
    .header-text {
        text-align: center;
    }
    .header-text h2 {
        color: white;
        font-size: 50px;
        letter-spacing: 6px;
        margin-top: 80px;
        margin-bottom: 30px;
        font-family: 'Fraunces', serif;
        font-weight: 700;
    }
    .header-text img {
      transform: translateY(20px);
      width: 50px;
    }
    .mobile-menu {
        display: none;
    }
    .mobile-nav {
        display: none;
    }
    .card1 {
   
        padding-left: 150px;
        padding-right: 110px;
     }
    .card1-text h2 {
    color: hsl(212, 27%, 19%);
    font-size: 33px;
    font-weight: 800;
    line-height: 50px;
    font-family: 'Barlow', serif;
    }
    .card1-text p {
       color:  hsl(232, 10%, 55%);
        font-size: 16px;
        margin-top: 30px;
      margin-bottom: 40px;
    }
    .learn1 {
        text-decoration: none;
        font-weight: 700;
        font-size: 17px;
        color: hsl(213, 48%, 18%);
        position: relative;
    }
    .learn1:hover {
        color: hsl(213, 48%, 18%);
    }
    .learn1::before {
        content: "";
        position: absolute;
       transform: translateY(13px);
       width: 100%;
        height: 12px;
        color: hsl(213, 48%, 18%);
        background-color: hsla(51, 100%, 49%, 0.404);
        z-index: -1;
        border-radius: 25px;
        transition: .3s;
    }
    .learn1:hover::before {
        background:hsl(51, 100%, 49%) ;
       
    }
    
    .card4 {
   
        padding-left: 90px;
        padding-right: 110px;
     }
    .card4-text h2 {
    margin-top: -40px;
    font-size: 33px;
    font-weight: 800;
    font-family: 'Barlow', serif;
    }
    .card4-text p {
       color:  hsl(232, 10%, 55%);
       padding-right: 50px;
        font-size: 16px;
        margin-top: 0px;
      margin-bottom: 40px;
    }
}


@media  screen and (min-width:768px) and (max-width:991px) {
  .header-text h2 {
    font-size: 40px;
    transform: translateY(-20px);
  }
    .header-text img {
        margin-top: 30px;
      
    }
    .mobile-menu {
        display: none;
    }
    .mobile-nav {
        display: none;
    }
    .card1 {
   padding: 0px 40px;
     }
    .card1-text h2 {
    color: hsl(212, 27%, 19%);
    font-size: 30px;
    font-weight: 800;
    line-height: 50px;
    font-family: 'Barlow', serif;
    }
    .card1-text p {
       color:  hsl(232, 10%, 55%);
        font-size: 15px;
        margin-top: 30px;
      margin-bottom: 20px;
    }
    .learn1 {
        text-decoration: none;
        font-weight: 700;
        font-size: 17px;
        color: hsl(213, 48%, 18%);
        position: relative;
    }
    .learn1:hover {
        color: hsl(213, 48%, 18%);
    }
    .learn1::before {
        content: "";
        position: absolute;
       transform: translateY(13px);
       width: 100%;
        height: 12px;
        color: hsl(213, 48%, 18%);
        background-color: hsla(51, 100%, 49%, 0.404);
        z-index: -1;
        border-radius: 25px;
        transition: .3s;
    }
    .learn1:hover::before {
        background:hsl(51, 100%, 49%) ;
       
    }
    
    .card4 {
        padding: 0px 40px;
     }
    .card4-text h2 {
        line-height: 30px;
    margin-top: -40px;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Barlow', serif;
    }
    .card4-text p {
       color:  hsl(232, 10%, 55%);
       padding-right: 50px;
        font-size: 15px;
        margin-top: 0px;
      margin-bottom: 15px;
    }
    .card-g {
        background: url(./images/desktop/image-graphic-design.jpg);
        height: 90vh;
        margin-top: 0px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
     .card-text {
    position: relative;
    top:25rem;
    
    }
    .g-text {
        color:  hsl(167, 40%, 24%);
        font-weight: 640;
    }
    .g-paragraph {
       text-align: center;
       font-size: 16px;
       color:  hsl(167, 40%, 24%);
      padding:10px 30px ;
      margin-top: 0px;
    }
    .card-p {
        background: url(./images/desktop/image-photography.jpg);
        height: 90vh;
        margin-top: 0px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .p-text {
        color:   hsl(198, 62%, 26%);
        font-weight: 640;
    }
    .p-paragraph {
       text-align: center;
       color:   hsl(198, 62%, 26%);
       padding: 10px 30px;
       font-size: 16px;
    }
}


@media screen and (min-width:600px) and (max-width:767px) {
 .hero {
    background-image: url(images/mobile/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
 }
 .hero header img {
    width: 100px;
    
 }
 .hero header nav {
    display: none;
 }
 .mobile-menu {
    display: inline-block;
 }
 .hero header .active{
    opacity: 1;
}
 .hero header .mobile-menu {
    width: 30px;
    margin-right: 30px;
 }
 .hero .header-text h2 {
    padding: 10px 150px;
   font-size: 35px;
 }
 .hero .header-text img {
    margin-top: 0px;
    width: 25px;
 }
 .mobile-nav {
    display: block;
    position: fixed;
    left: 50%;
    top: 5rem;
    transform: translateX(-50%);
    background: white;
    text-align: center;
    padding: 2rem;
    z-index: 10;
    width: 90%;
 }
 .mobile-nav::after {
    content: "";
    position: absolute;
    right: 0;
    top: -18px;
   border-top: 22px solid transparent;
   border-left:  22px solid transparent;
   border-right:  22px solid white;
   border-bottom-color: 22px solid white;
 }
 .mobile-nav nav ul {
    list-style: none;
    
 }
 .mobile-nav nav ul li {
    margin-top: 30px;
    display: block;
 }
 .mobile-nav nav ul li a {
    text-decoration: none;
    color: hsl(232, 10%, 55%);
    text-align: center;
    
 }
 .mobile-nav nav ul li:nth-child(4) a {
    color:  hsl(212, 27%, 19%);
    background-color: yellow;
    padding: 13px 24px;
    border-radius: 25px;
    font-weight: 700;
 }
 .card1 {
   padding: 50px 70px;
 }
.card1-text h2 {
color: hsl(212, 27%, 19%);
font-size: 40px;
font-weight: 800;
line-height: 50px;
font-family: 'Barlow', serif;
}
.card1-text p {
   color:  hsl(232, 10%, 55%);
    font-size: 16px;
    margin-top: 30px;
  margin-bottom: 20px;
}

.card4 {
    padding-top: 50px;
    padding-bottom: 90px;
    padding-right: 70px;
 }
.card4-text h2 {
color: hsl(212, 27%, 19%);
line-height: 40px;
font-size: 40px;
font-weight: 800;
font-family: 'Barlow', serif;
}
.card4-text p {
   color:  hsl(232, 10%, 55%);
   padding-right: 50px;
    font-size: 16px;
    margin-top: 20px;
  
}
.learn2 {
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    color: hsl(213, 48%, 18%);
  
}

.card-g {
    background: url(./images/mobile/image-graphic-design.jpg);
    height: 90vh;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 .card-text {
position: relative;
top: 300px;

}
.g-text {
    color:  hsl(167, 40%, 24%);
    font-weight: 640;
}
.g-paragraph {
   text-align: center;
   font-size: 18px;
   color:  hsl(167, 40%, 24%);
  padding:20px 100px ;
  margin-bottom: 60px;
}
.card-p {
    background: url(./images/mobile/image-photography.jpg);
    height: 90vh;
    margin-top: -50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.p-text {
    color:   hsl(198, 62%, 26%);
    font-weight: 640;
}
.p-paragraph {
   text-align: center;
   color:   hsl(198, 62%, 26%);
   padding: 30px 160px;
}
.card-img {
    border-radius: 50%;
    width: 80px;
    margin-top: -40px;
}
.card-texts {
    margin-top: 30px;
    color:hsl(212, 27%, 19%)  ;
}
.client-name {
    margin-top: 30px;
    color:  hsl(198, 79%, 17%);
   font-weight: 900;
   font-family: 'Fraunces', serif;
    font-size: 16px;
}
.client-position {
    font-size: 14px;
    color:hsl(210, 4%, 67%) ;
    margin-bottom: 30px;
}
}
@media screen and (min-width:320px) and (max-width:599px) {
    .hero {
        background-image: url(images/mobile/image-header.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
       
     }
     .hero header img {
        width: 100px;
        margin-left: 20px;
     }
     .hero header nav {
        display: none;
     }
     .mobile-menu {
        display: inline-block;
     }
     .hero header .active{
        opacity: 1;
    }
     .hero header .mobile-menu {
        width: 30px;
        margin-right: 30px;
     }
     .hero .header-text h2 {
        padding: 10px 0px;
       font-size: 35px;
     }
     .hero .header-text img {
        margin-top: 0px;
        width: 25px;
     }
     .mobile-nav {
        display: block;
        position: fixed;
        left: 50%;
        top: 5rem;
        transform: translateX(-50%);
        background: white;
        text-align: center;
        padding: 2rem;
        z-index: 10;
        width: 90%;
     }
     .mobile-nav::after {
        content: "";
        position: absolute;
        right: 0;
        top: -18px;
       border-top: 22px solid transparent;
       border-left:  22px solid transparent;
       border-right:  22px solid white;
       border-bottom-color: 22px solid white;
     }
     .mobile-nav nav ul {
        list-style: none;
        
     }
     .mobile-nav nav ul li {
        margin-top: 30px;
        display: block;
     }
     .mobile-nav nav ul li a {
        text-decoration: none;
        color: hsl(232, 10%, 55%);
        text-align: center;
        
     }
     .mobile-nav nav ul li:nth-child(4) a {
        color:  hsl(212, 27%, 19%);
        background-color: yellow;
        padding: 13px 24px;
        border-radius: 25px;
        font-weight: 700;
     }
     .card1 {
        padding: 20px 40px;
      }
     .card1-text h2 {
     color: hsl(212, 27%, 19%);
     font-size: 37px;
     text-align: center;
     font-weight: 800;
     line-height: 50px;
     font-family: 'Barlow', serif;
     }
     .card1-text p {
        color:  hsl(232, 10%, 55%);
         font-size: 15px;
         margin-top: 10px;
         padding-right: 30px;
         padding-left: 30px;
       margin-bottom: 20px;
     }
     
     .card4 {
         padding-top: 50px;
         padding-bottom: 90px;
        padding-right: 30px;
        padding-left: 30px;
      }
     .card4-text h2 {
     color: hsl(212, 27%, 19%);
     line-height: 40px;
     text-align: center;
     font-size: 37px;
     font-weight: 800;
     font-family: 'Barlow', serif;
     }
     .card4-text p {
        color:  hsl(232, 10%, 55%);
        padding-right: 30px;
        padding-left: 30px;
         font-size: 15px;
         margin-top: 20px;
       text-align: center;
     }
     .learn1 {
        text-decoration: none;
        font-weight: 700;
       margin-left: 100px;
        text-align: center;
        font-size: 16px;
        color: hsl(213, 48%, 18%);
      
    }
     .learn2 {
         text-decoration: none;
         font-weight: 700;
         font-size: 16px;
         color: hsl(213, 48%, 18%);
         margin-left: 100px;
     }
     
     .card-g {
         background: url(./images/mobile/image-graphic-design.jpg);
         height: 90vh;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
     }
      .card-text {
     position: relative;
     top: 25rem;
     }
     .g-text {
         color:  hsl(167, 40%, 24%);
         font-weight: 640;
     }
     .g-paragraph {
        text-align: center;
        font-size: 15px;
        color:  hsl(167, 40%, 24%);
       padding:20px 20px ;
       margin-bottom: 60px;
     }
     .card-p {
         background: url(./images/mobile/image-photography.jpg);
         height: 90vh;
         margin-top: -50px;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
     }
     .p-text {
         color:   hsl(198, 62%, 26%);
         font-weight: 640;
     }
     .p-paragraph {
        font-size: 15px;
        text-align: center;
        color:   hsl(198, 62%, 26%);
        padding: 20px 20px;
     }
     .card-img {
        border-radius: 50%;
        width: 80px;
        margin-top: -60px;
    }
}
@media screen and (min-width:250px) and (max-width:300px){
    .hero {
        background-image: url(images/mobile/image-header.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
       
     }
     .hero header img {
        width: 100px;
        margin-left: 20px;
     }
     .hero header nav {
        display: none;
     }
     .mobile-menu {
        display: inline-block;
     }
     .hero header .active{
        opacity: 1;
    }
     .hero header .mobile-menu {
        width: 30px;
        margin-right: 30px;
     }
     .hero .header-text h2 {
        padding: 10px 0px;
       font-size: 35px;
     }
     .hero .header-text img {
        margin-top: 0px;
        width: 25px;
     }
     .mobile-nav {
        display: block;
        position: fixed;
        left: 50%;
        top: 5rem;
        transform: translateX(-50%);
        background: white;
        text-align: center;
        padding: 2rem;
        z-index: 10;
        width: 90%;
     }
     .mobile-nav::after {
        content: "";
        position: absolute;
        right: 0;
        top: -18px;
       border-top: 22px solid transparent;
       border-left:  22px solid transparent;
       border-right:  22px solid white;
       border-bottom-color: 22px solid white;
     }
     .mobile-nav nav ul {
        list-style: none;
        
     }
     .mobile-nav nav ul li {
        margin-top: 30px;
        display: block;
     }
     .mobile-nav nav ul li a {
        text-decoration: none;
        color: hsl(232, 10%, 55%);
        text-align: center;
        
     }
     .mobile-nav nav ul li:nth-child(4) a {
        color:  hsl(212, 27%, 19%);
        background-color: yellow;
        padding: 13px 24px;
        border-radius: 25px;
        font-weight: 700;
     }
     .card1 {
        padding: 20px 40px;
      }
     .card1-text h2 {
     color: hsl(212, 27%, 19%);
     font-size: 37px;
     text-align: center;
     font-weight: 800;
     line-height: 50px;
     font-family: 'Barlow', serif;
     }
     .card1-text p {
        color:  hsl(232, 10%, 55%);
         font-size: 15px;
         margin-top: 10px;
         padding-right: 30px;
         padding-left: 30px;
       margin-bottom: 20px;
     }
     
     .card4 {
         padding-top: 50px;
         padding-bottom: 90px;
        padding-right: 30px;
        padding-left: 30px;
      }
     .card4-text h2 {
     color: hsl(212, 27%, 19%);
     line-height: 40px;
     text-align: center;
     font-size: 37px;
     font-weight: 800;
     font-family: 'Barlow', serif;
     }
     .card4-text p {
        color:  hsl(232, 10%, 55%);
        padding-right: 30px;
        padding-left: 30px;
         font-size: 15px;
         margin-top: 20px;
       text-align: center;
     }
     .learn1 {
        text-decoration: none;
        font-weight: 700;
       margin-left: 100px;
        text-align: center;
        font-size: 16px;
        color: hsl(213, 48%, 18%);
      
    }
     .learn2 {
         text-decoration: none;
         font-weight: 700;
         font-size: 16px;
         color: hsl(213, 48%, 18%);
       margin-left: 100px;
     }
     
     .card-g {
         background: url(./images/mobile/image-graphic-design.jpg);
         height: 90vh;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
     }
      .card-text {
     position: relative;
     top: 25rem;
     }
     .g-text {
         color:  hsl(167, 40%, 24%);
         font-weight: 640;
     }
     .g-paragraph {
        text-align: center;
        font-size: 15px;
        color:  hsl(167, 40%, 24%);
       padding:20px 20px ;
       margin-bottom: 60px;
     }
     .card-p {
         background: url(./images/mobile/image-photography.jpg);
         height: 90vh;
         margin-top: -50px;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
     }
     .p-text {
         color:   hsl(198, 62%, 26%);
         font-weight: 640;
     }
     .p-paragraph {
        font-size: 15px;
        text-align: center;
        color:   hsl(198, 62%, 26%);
        padding: 20px 20px;
     }
}